apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "beacon.fullname" . }}
  labels:
    {{- include "beacon.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "beacon.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "beacon.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: WORMHOLE_LISTEN_PORT
              value: "8999"
            - name: SERVER_URL
              value: :8080
            - name: METRICS_URL
              value: :8081
            - name: HEARTBEAT_URL
              value: :9000
            - name: HEARTBEAT_INTERVAL
              value: "{{ .Values.beacon.heartbeatInterval }}"
            - name: LOG_LEVEL
              value: {{ .Values.beacon.logLevel }}
            {{- if .Values.beacon.wormholeEnv }}
            - name: WORMHOLE_ENV
              value: {{ .Values.beacon.wormholeEnv }}
            {{- end }}
            {{- if .Values.beacon.wormholeNetworkId }}
            - name: WORMHOLE_NETWORK_ID
              value: {{ .Values.beacon.wormholeNetworkId }}
            {{- end }}
            {{- if .Values.beacon.wormholeBootstrapAddrs }}
            - name: WORMHOLE_BOOTSTRAP
              value: {{ .Values.beacon.wormholeBootstrapAddrs }}
            {{- end }}
            - name: NATS_URL
              value: {{ required "beacon.natsUrl is required" .Values.beacon.natsUrl }}
            - name: NATS_STREAM
              value: {{ required "beacon.natsStream is required" .Values.beacon.natsStream }}
            - name: WRITER_BATCH_SIZE
              value: "{{ .Values.beacon.writerBatchSize }}"
            {{- if .Values.beacon.nodeKeyPath }}
            - name: NODE_KEY_PATH
              value: {{ .Values.beacon.nodeKeyPath }}
            {{- end }}
          ports:
            - containerPort: 8080
              protocol: TCP
              name: grpc
            - containerPort: 8081
              protocol: TCP
              name: metrics
            - containerPort: 9000
              protocol: TCP
              name: heartbeat
            - containerPort: 8999
              protocol: UDP
              name: wormhole-listen
          {{- with .Values.probes.liveness.enabled }}
          livenessProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 5
            periodSeconds: 3
          {{- end }}
          {{- with .Values.probes.startup.enabled }}
          startupProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
